@import url("https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/cabinet-grotesk");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove Input Styles */
button:hover,
button:focus {
	outline: none;
}

input:hover,
input:focus,
input:active {
	outline: none;
}

textarea {
	overflow: auto;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	resize: none; /*remove the resize handle on the bottom right*/
}

.custom-gradient {
	background: linear-gradient(
		181deg,
		#255a8b -5.38%,
		#8930b2 52.66%,
		rgba(115, 78, 207, 0.87) 85.6%,
		rgba(115, 87, 186, 0.87) 104.34%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.header-bg {
	background: linear-gradient(
		181deg,
		#255a8b -5.38%,
		#8930b2 52.66%,
		rgba(115, 78, 207, 0.87) 85.6%,
		rgba(115, 87, 186, 0.87) 104.34%
	);
	box-shadow: 1px 7px 7px 5px rgba(132, 99, 212, 0.17);
}

.glass {
	background: rgba(255, 255, 255, 0.2);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.3);
}
/* 
.test {
	color: #0601b426;
} */
